<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<style type="text/css">
TABLE {
    BORDER-COLLAPSE: collapse;TEXT-ALIGN: center; WIDTH:80%; margin: 0 auto;
}
TR {
    BACKGROUND-COLOR:#000099; TEXT-ALIGN: left; FONT-SIZE: 14px; TEXT-WEIGHT:bold; COLOR:#FFFFFF; BORDER:1px #888 solid; 
}
TD {
    FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial; BORDER:1px #ccc solid;
}
TH {
    FONT-SIZE: 12px; BORDER:1px #999999 solid; BACKGROUND-COLOR: #e5ecf9; TEXT-ALIGN: center; COLOR:black;
}
</style>
</head>
<body>
#s
</body>
</html>
